{
  "presets": [
    "es2015",
    "stage-3",
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-runtime",
    "react-hot-loader/babel",
    ["import", { "libraryName": "antd", "libraryDirectory": "lib"}]
  ],
  "comments": false
}